* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "fontawesome";
  font-display: swap;
  src: url("../fonts/fontawesome.woff") format("woff"), url("../fonts/fontawesome.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  color: #000;
  font-size: 14px;
  font-family: "Open Sans";
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  width: 100%;
}

.header {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 30;
}

.header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  z-index: 2;
}

.header__body {
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 79px;
  flex: 0 0 79px;
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
}

.header__burger {
  display: none;
}

.menu-header__list {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.menu-header__list li {
  margin: 0px 0px 0px 48px;
}

.menu-header__link {
  opacity: 0.69;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}

.footer {
  background-color: #000;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px 15px;
}

.footer__icon {
  padding: 0px 15px;
  display: inline-block;
}

.footer__copyright {
  color: #5e5e5e;
  font-size: 12px;
}

.progress {
  position: fixed;
  width: 0;
  height: 5px;
  left: 0;
  top: 0;
  background-color: #45f300;
  z-index: 31;
}

.about {
  background: url("../img/bg-img-1.png") center/cover no-repeat;
  padding: 110px 0px 133px 0px;
  position: relative;
}

.about:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(19, 17, 17, 0.753);
}

.about__body {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 20px 0px 0px 0px;
}

.item-about__img {
  margin: 0px 0px 33px 0px;
}

.item-about__title {
  max-width: 512px;
  color: #ffffff;
  font-family: Raleway;
  font-size: 35px;
  text-transform: uppercase;
  position: relative;
  padding: 0px 0px 33px 0px;
  margin: 0px 0px 30px 0px;
}

.item-about__title:after {
  content: "";
  position: absolute;
  width: 74px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.item-about__text {
  max-width: 461px;
  opacity: 0.8;
  color: #ffffff;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 300;
}

.item-about__link {
  position: relative;
}

.item-about__link:after {
  content: "";
  position: absolute;
  height: 0;
  left: 0;
  top: 50%;
  width: 100%;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  transition: all 0.9s ease 0s;
  background-color: #fff;
}

.btn-link {
  display: inline-block;
  margin: 44px 0px 0px 0px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid #fff;
  padding: 15px 32px;
  position: relative;
}

.btn-link span {
  position: relative;
  z-index: 2;
}

.form-about {
  text-align: center;
}

.form-about__name {
  margin: 0px 0px 36px 0px;
}

.form-about__email {
  margin: 0px 0px 36px 0px;
}

.form-about__pass {
  margin: 0px 0px 50px 0px;
}

.form-about__btn button {
  width: 100%;
  padding: 20px 0px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  background-color: #ff9b51;
}

.input {
  width: 285px;
  height: 31px;
  padding: 0px 0px 0px 14px;
  border-bottom: 1px solid #d6d6d6;
}

.item-block {
  margin: 20px 0px 0px 0px;
}

.item-block__block {
  margin: 30px 0px 0px 0px;
  background-color: #fff;
}

.item-block__free {
  background-color: #f5f5f5;
  text-align: center;
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 52px;
  margin: 0px 0px 30px 0px;
}

.item-block__free span {
  color: #ff8b38;
}

.social-media {
  padding: 22px 0;
}

.social-media__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-media__title {
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  margin: 0px 0px 12px 0px;
}

.social-media__text {
  max-width: 360px;
  color: #86878b;
  font-size: 14px;
}

.social-media__icons {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 634px;
  flex: 0 0 634px;
}

.social-media__icons img {
  max-width: 100%;
}

.tabs-page {
  padding: 120px 0px;
  background-color: #f5f5f5;
}

.tabs-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs-page__tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

.tabs-page__info {
  margin: 0px 0px 0px 100px;
}

.tabs-page__content {
  display: none;
}

.tabs-page__content.active-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs-page__image {
  margin: 0px 0px 0px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tabs-menu {
  max-width: 112px;
  width: 100%;
}

.tabs-menu__list li {
  border-bottom: 1px solid #fff;
}

.tabs-menu__list li:last-child {
  border-bottom: none;
}

.tabs-menu__link {
  display: inline-block;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  padding: 50px 35px;
  text-align: center;
  background-color: #333333;
}

.tabs-menu__link.active-tab-bg {
  background-color: #ff8b38;
}

.tabs-item__title {
  margin: 0px 0px 52px 0px;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
}

.tabs-item__text {
  color: #86878b;
  line-height: 20px;
}

.tabs-item__text p:first-child {
  margin: 0px 0px 30px 0px;
}

.tabs-item__link {
  margin: 51px 0px 0px 0px;
  display: inline-block;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  padding: 16px 25px;
  background-color: #ff8b38;
  border-radius: 3px;
  position: relative;
}

.tabs-item__link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border-radius: 3px;
}

.tabs-item__link span {
  position: relative;
  z-index: 2;
}

.title {
  color: #212121;
  font-size: 20px;
  font-weight: 700;
  line-height: 43px;
  position: relative;
  padding: 0px 0px 30px 0px;
}

.title:after {
  content: "";
  position: absolute;
  width: 64px;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff8b38;
}

.text {
  color: #86878b;
  line-height: 20px;
}

.sub-section {
  padding: 110px 0;
}

.sub-section__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-section__image {
  margin: 0px 157px 0px 0px;
}

.content-section__title {
  margin: 0px 0px 30px 0px;
}

.content-section__text {
  margin: 0px 0px 46px 0px;
}

.item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 42px 0px;
}

.item-content:last-child {
  margin: 0px 0px 24px 0px;
}

.item-content__img {
  margin: 0px 30px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.item-content__title {
  color: #212121;
  font-weight: 600;
  line-height: 17px;
  margin: 0px 0px 12px 0px;
}

.item-content__text {
  max-width: 363px;
  color: #86878b;
  line-height: 20px;
}

.standard-section {
  padding: 75px 0px;
  background-color: #f5f5f5;
}

.standard-section__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.standard-section__image {
  margin: 0px 0px 0px 161px;
}

.content-section__text {
  max-width: 473px;
}

.content-section__text p:first-child {
  margin: 0px 0px 25px 0px;
}

.title-2 {
  color: #212121;
  font-family: Raleway;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  padding: 0px 0px 30px 0px;
  position: relative;
}

.title-2:before {
  content: "";
  position: absolute;
  width: 64px;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #ff8b38;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.subtitle-2 {
  color: #86878b;
  line-height: 20px;
}

.awesome {
  padding: 105px 0;
}

.awesome__top {
  margin: 0px 0px 80px 0px;
  text-align: center;
}

.awesome__title {
  margin: 0px 0px 30px 0px;
}

.row-awesome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -16px;
}

.row-awesome__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
  padding: 0px 16px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.row-awesome__img {
  margin: 0px 0px 30px 0px;
}

.row-awesome__title {
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0px 0px 25px 0px;
}

.row-awesome__text {
  color: #86878b;
  line-height: 20px;
}

.options {
  padding: 100px 0px;
  background-color: #f5f5f5;
}

.options__top {
  text-align: center;
}

.options__title {
  margin: 0px 0px 30px 0px;
}

.options__subtitle {
  margin: 0px 0px 80px 0px;
}

.row-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.row-options__item {
  max-width: 343px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.row-options__type {
  max-width: 343px;
  height: 59px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid #fff;
}

.row-options__money {
  max-width: 343px;
  height: 100px;
  color: #ffffff;
  font-family: Raleway;
  font-size: 94px;
  font-weight: 700;
  text-align: center;
  background-color: #333333;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.row-options__money span {
  font-size: 35px;
}

.row-options__pay {
  max-width: 343px;
  height: 51px;
  color: #6d6d6d;
  font-style: italic;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  background-color: #333333;
  border-bottom: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.row-options__popular {
  max-width: 343px;
  height: 5px;
  background-color: #ff8b38;
}

.row-options__popular_text {
  max-width: 343px;
  height: 40px;
  color: #ffffff;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ff8b38;
}

.row-options__space {
  max-width: 343px;
  height: 40px;
  color: #86878b;
  line-height: 24px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #f5f5f5;
  background-color: #fff;
}

.row-options__bandwidth {
  max-width: 343px;
  height: 40px;
  color: #86878b;
  line-height: 24px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #f5f5f5;
  background-color: #fff;
}

.row-options__sites {
  max-width: 343px;
  height: 40px;
  color: #86878b;
  line-height: 24px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #f5f5f5;
  background-color: #fff;
}

.row-options__customization {
  max-width: 343px;
  height: 40px;
  color: #86878b;
  line-height: 24px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #f5f5f5;
  background-color: #fff;
}

.row-options__integration {
  max-width: 343px;
  height: 40px;
  color: #86878b;
  line-height: 24px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #f5f5f5;
  background-color: #fff;
}

.row-options__support {
  max-width: 343px;
  height: 40px;
  color: #86878b;
  line-height: 24px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.saying {
  padding: 105px 0px;
}

.saying__top {
  text-align: center;
  margin: 0px 0px 55px 0px;
}

.saying__title {
  margin: 0px 0px 30px 0px;
}

.row-saying {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0px auto;
}

.row-saying__message {
  margin: 0px 0px 8px 0px;
  position: relative;
}

.row-saying__message_text {
  position: absolute;
  max-width: 248px;
  top: 24px;
  left: 12px;
  color: #86878b;
  font-style: italic;
}

.info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-row__person {
  margin: 0px 0px 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info-row__name {
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  margin: 0px 0px 8px 0px;
}

.info-row__job {
  color: #86878b;
}

.design {
  padding: 70px 0px;
  background: url("../img/bg-stylish.png") center/cover no-repeat;
  position: relative;
}

.design:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.design__body {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.design__title {
  text-align: center;
  margin: 0px 0px 30px 0px;
  color: #fff;
  position: relative;
}

.design__title:before {
  content: "";
  background-color: #fff;
}

.design__subtitle {
  text-align: center;
}

.design__link {
  text-align: center;
  position: relative;
}

.design__link:after {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
}

.design__link span {
  position: relative;
  z-index: 2;
}

.contact {
  padding: 90px 0px;
}

.contact__top {
  text-align: center;
  margin: 0px 0px 80px 0px;
}

.contact__title {
  margin: 0px 0px 30px 0px;
}

.form-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0px -35px 43px;
}

.form-contact__column {
  padding: 0px 35px;
}

.form-contact__name {
  width: 527px;
  margin: 0px 0px 30px 0px;
}

.form-contact__email {
  width: 527px;
  margin: 0px 0px 30px 0px;
}

.form-contact__subject {
  width: 527px;
}

.form-contact__message {
  width: 527px;
}

.form-contact__message textarea {
  width: 527px;
  height: 154px;
  resize: none;
  padding: 0px 0px 0px 14px;
  border-bottom: 1px solid #d6d6d6;
}

.form-contact__message textarea::-webkit-input-placeholder {
  color: #bdbdbd;
}

.form-contact__message textarea::-moz-placeholder {
  color: #bdbdbd;
}

.form-contact__message textarea:-ms-input-placeholder {
  color: #bdbdbd;
}

.form-contact__message textarea::-ms-input-placeholder {
  color: #bdbdbd;
}

.form-contact__message textarea::placeholder {
  color: #bdbdbd;
}

.form-contact__message textarea:focus::-webkit-input-placeholder {
  visibility: hidden;
}

.form-contact__message textarea:focus::-moz-placeholder {
  visibility: hidden;
}

.form-contact__message textarea:focus:-ms-input-placeholder {
  visibility: hidden;
}

.form-contact__message textarea:focus::-ms-input-placeholder {
  visibility: hidden;
}

.form-contact__message textarea:focus::placeholder {
  visibility: hidden;
}

.form-contact__butn button {
  display: inline-block;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  background-color: #ff9b51;
  padding: 15px 22px;
  border-radius: 2px;
}

.input_c {
  width: 527px;
  padding: 0px 0px 0px 14px;
  border-bottom: 1px solid #d6d6d6;
  height: 32px;
}

.input_c::-webkit-input-placeholder {
  color: #bdbdbd;
}

.input_c::-moz-placeholder {
  color: #bdbdbd;
}

.input_c:-ms-input-placeholder {
  color: #bdbdbd;
}

.input_c::-ms-input-placeholder {
  color: #bdbdbd;
}

.input_c::placeholder {
  color: #bdbdbd;
}

.input_c:focus::-webkit-input-placeholder {
  visibility: hidden;
}

.input_c:focus::-moz-placeholder {
  visibility: hidden;
}

.input_c:focus:-ms-input-placeholder {
  visibility: hidden;
}

.input_c:focus::-ms-input-placeholder {
  visibility: hidden;
}

.input_c:focus::placeholder {
  visibility: hidden;
}

@media (min-width: 767.98px) {
  .menu-header__link:hover {
    opacity: 1;
    text-decoration: underline;
  }
}

@media (min-width: 991.98px) {
  .item-about__link:hover {
    color: #000;
  }

  .item-about__link:hover:after {
    height: 100%;
    background: #7fc8e6;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
    transition: all 0.9s ease 0s;
    top: 0;
  }

  .design__link:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  .design__link:hover:after {
    height: 100%;
    background-color: #000;
  }
}

@media (max-width: 1140px) {
  .sub-section {
    padding: 90px 0 60px 0;
  }

  .sub-section__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .sub-section__image {
    margin: 0 0 0px 0;
  }

  .content-section__title {
    text-align: center;
  }

  .content-section__title:after {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  .content-section__text {
    text-align: center;
  }

  .content-section__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px -5px;
  }

  .content-section__item {
    padding: 0px 5px;
  }
}

@media (max-width: 1133px) {
  .social-media__body {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .social-media__info {
    margin: 0px 0px 20px 0px;
  }

  .social-media__title {
    text-align: center;
  }

  .social-media__text {
    text-align: center;
  }
}

@media (max-width: 1132px) {
  .container {
    max-width: 970px;
  }

  .standard-section__image {
    margin: 0px 0px 0px 150px;
  }

  .form-contact__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .form-contact__subject {
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .about__body {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .item-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .item-about__img {
    text-align: center;
  }

  .item-about__title:after {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  .item-about__title {
    text-align: center;
  }

  .item-about__text {
    text-align: center;
  }

  .tabs-page {
    padding: 70px 0px 40px;
  }

  .tabs-page__body {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .tabs-page__info {
    margin: 0;
  }

  .tabs-page__content.active-tab {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .tabs-menu {
    margin: 0px 0px 30px 0px;
    max-width: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .tabs-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .tabs-menu__list li {
    border-right: 1px solid #fff;
  }

  .tabs-item__link:hover {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .tabs-item__link:hover:before {
    width: 100%;
    background-color: #000000;
  }

  .standard-section {
    padding: 65px 0px 40px 0px;
  }

  .standard-section__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .standard-section__content {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .standard-section__image {
    margin: 0px 0px 0px 0px;
  }

  .awesome {
    padding: 80px 0 80px;
  }

  .row-options {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .row-options__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin: 0px 0px 30px 0px;
  }

  .row-options__item:last-child {
    margin: 0px 0px 0px 0px;
  }

  .saying {
    padding: 80px 0px;
  }

  .row-saying {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0px -59px;
  }

  .row-saying__item {
    padding: 0px 59px;
    margin: 0px 0px 30px 0px;
  }

  .row-saying__item:last-child {
    margin: 0px 0px 0px 0px;
  }

  .design {
    padding: 50px 0px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .header__body {
    height: 50px;
  }

  .header__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger:before,
  .header__burger:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #fff;
  }

  .header__burger:before {
    top: 0;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .header__burger.active-menu:before {
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger:after {
    bottom: 0;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .header__burger.active-menu:after {
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    background-color: #fff;
  }

  .header__burger.active-menu span {
    display: none;
  }

  .menu-header {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: #e0600a;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    overflow: auto;
  }

  .menu-header.active-menu {
    top: 0;
  }

  .menu-header__list {
    display: block;
    margin: 100px 0px 0px 0px;
    text-align: center;
  }

  .menu-header__list li {
    margin: 0px 0px 30px 0px;
  }

  .menu-header__link {
    font-size: 35px;
    opacity: 1;
  }

  .about {
    padding: 70px 0px 50px 0px;
  }

  .social-media__icons {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 500px;
    flex: 0 1 500px;
  }

  .tabs-page {
    padding: 55px 0px;
  }

  .tabs-page__content.active-tab {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .tabs-page__image {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 30px 0px 0px 0px;
  }

  .tabs-page__image img {
    max-width: 100%;
  }

  .tabs-menu__link {
    padding: 40px 25px;
  }

  .tabs-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .tabs-item__title {
    text-align: center;
  }

  .tabs-item__text p:first-child {
    margin: 0px 0px 15px 0px;
  }

  .sub-section {
    padding: 60px 0 50px 0;
  }

  .sub-section__image img {
    max-width: 100%;
  }

  .content-section__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
  }

  .content-section__item {
    padding: 0;
  }

  .standard-section {
    padding: 55px 0px 20px 0px;
  }

  .standard-section__image img {
    max-width: 100%;
  }

  .awesome {
    padding: 50px 0 40px;
  }

  .row-awesome {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .row-awesome__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin: 0px 0px 30px 0px;
  }

  .row-awesome__img {
    margin: 0px 0px 15px 0px;
  }

  .options {
    padding: 45px 0px;
  }

  .saying {
    padding: 60px 0px;
  }

  .design {
    padding: 40px 0px;
  }

  .contact {
    padding: 50px 0px;
  }

  .contact__top {
    margin: 0px 0px 45px 0px;
  }

  .form-contact__name {
    max-width: 460px;
  }

  .form-contact__email {
    max-width: 460px;
  }

  .form-contact__subject {
    max-width: 460px;
  }

  .form-contact__message {
    max-width: 460px;
  }

  .form-contact__message textarea {
    max-width: 100%;
    height: 100px;
  }

  .input_c {
    width: 100%;
  }
}

@media (max-width: 479.98px) {
  .footer__social {
    margin: 0px -10px 15px;
  }

  .footer__icon {
    padding: 0px 10px;
  }

  .form-contact__name {
    max-width: 300px;
  }

  .form-contact__email {
    max-width: 300px;
  }

  .form-contact__subject {
    max-width: 300px;
  }

  .form-contact__message {
    max-width: 300px;
  }
}

.webp .about { background: url(../img/bg-img-1.webp) center/cover no-repeat; }

.webp .design { background: url(../img/bg-stylish.webp) center/cover no-repeat; }